<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">tele</th>
        <th scope="col">ville</th>
        <th scope="col">password</th>
        <th scope="col">username</th>
        <th scope="col">options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <th scope="row">{{client.id}}</th>
        <td>{{client.name}}</td>
        <td>{{client.email}}</td>
        <td>{{client.tele}}</td>
        <td>{{client.ville}}</td>
        <td>{{client.password}}</td>
        <td>{{client.username}}</td>
        <td>
          <a class="btn btn-primary btn-lg active" 
          role="button" aria-pressed="true" 
          [routerLink]="['/clients/edit',client.id]">Edite</a>

          <a href="/" class="btn btn-outline-danger btn-lg active" 
          role="button" aria-pressed="true" 
          (click)="delete(client.id)">Delete</a>
        </td>
      </tr>
     
    </tbody>
  </table>
  <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/clients/add']">
    <i class="material-icons">add</i></a>
  
</div>
<h1>File Upload</h1>
<input type="file" (change)="onFileSelected($event)">
<button type="button" (click)="onUpload()">Upload</button>



